---
layout: playground
title: "Search"
permalink: /search/
head_additional: >
  <style>
    #wordcloud {width: 100%; height: 200px;}
    #wordcloud span {box-shadow: 0 0.375em transparent; transition: all 0.2s ease-in-out;}
    #wordcloud span:hover {cursor: pointer; box-shadow: 0 0.125em currentColor;}
    #search-input {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23ced4da' d='M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z'/%3E%3C/svg%3E");
      background-repeat: no-repeat;
      padding-left: 2.5rem;
    }
  </style>
foot_additional: >
  {{ site.dep_wordcloud }}
  {{ site.dep_jekyllsearch}}
  <script src="{{ 'search.js' | prepend: page.url | absolute_url }}"></script>
---

<div>
  <!-- <label for="search-input" class="sr-only">Search</label> -->
  <input class="form-control" id="search-input" type="text" aria-label="Search" placeholder="search..." autofocus>
</div>
<div class="mt-3 mb-5">
  <div id="results-container" class="list-group"></div>
</div>
<div id="wordcloud"></div>

<script>
tagwords = [
  {%- for playground in site.playgrounds -%}
    {{ playground.tags | join: "', 1], ['" | prepend: "['" | append: "', 1]" }}
    {%- unless forloop.last %}, {% endunless %}
  {%- endfor -%}
];
</script>
