<nav class="navbar navbar-dark bg-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="{{ '/' | absolute_url }}" aria-label="Cartography Playground Home">
      {% include svg/logo.svg class="navbar-logo align-middle" %}
      {% include svg/logo-text-1.svg class="navbar-logo-text navbar-logo-text-1 align-middle d-none d-sm-inline-block ml-2" %}
      {% include svg/logo-text-2.svg class="navbar-logo-text navbar-logo-text-2 align-middle d-inline-block d-sm-none ml-2" %}
    </a>
    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-label="Toggle Navigation">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav mt-3">
        <li class="nav-item">
          <a class="nav-link" href="{{ '/' | absolute_url }}"><i class="mdi mdi-home text-primary mr-3"></i>Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/search/' | absolute_url }}"><i class="mdi mdi-magnify text-secondary mr-3"></i>Search</a>
        </li>
        {% comment %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"><i class="mdi mdi-puzzle text-info mr-3"></i>Playgrounds</a>
          <div class="dropdown-menu">
            {% for playground in site.playgrounds %}
              <a class="dropdown-item" href="{{ playground.url | absolute_url }}">{{ playground.title }}</a>
            {% endfor %}
          </div>
        </li>
        {% endcomment %}
        <li class="nav-item">
          <a class="nav-link" href="{{ site.repository }}" target="_blank" rel="noopener"><i class="mdi mdi-xml text-warning mr-3"></i>Source code</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
